html,
body {
    font-family: 'Dancing Script', cursive;
}

.navbar-item {
    line-height: 5;
}

.my_img {
    height: 50%;
    width: 50%;
}

.card:hover {
    box-shadow: 0 0 30px rgba(33, 33, 33, .2);
  }
  
  .arrow {
    text-align: center;
    margin: 3% 0;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
  
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-30px);
    }
  
    60% {
      transform: translateY(-15px);
    }
  }